<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Informacoes de Dev -->
    <add key="BoletoCloud:Token" value="api-key_W4Uj7x3P4WExMc3ShcuInhebDBSOi1lkrLKTndzdV2U=" />
    <add key="BoletoCloud:Url" value="https://sandbox.boletocloud.com/api/v1/boletos" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
